<script>
	import FullCalendar, { Draggable } from 'svelte-fullcalendar';
	import daygridPlugin from '@fullcalendar/daygrid';
	import timegridPlugin from '@fullcalendar/timegrid';
	import interactionPlugin from '@fullcalendar/interaction';

	let options = {
		dateClick: handleDateClick,
		droppable: true,
		editable: true,
		events: [
			// initial event data
			{ title: 'Today', start: new Date() },
			{ title: 'Yanking the weeds out', start: '2022-06-30' },
			{ title: 'Tomatoes seeding', start: '2022-03-10' }
		],
		eventColor: 'var(--supla-green)',
		eventTextColor: 'black',
		initialView: 'dayGridMonth',
		plugins: [daygridPlugin, timegridPlugin, interactionPlugin],
		headerToolbar: {
			left: 'prev,next today',
			center: 'title',
			right: 'dayGridMonth,timeGridWeek,timeGridDay'
		},
		height: 'auto',
		weekends: true
	};
	let calendarComponentRef;
	let eventData = { title: 'watering', duration: '00:05' };

	function toggleWeekends() {
		options = { ...options, weekends: !options.weekends };
	}

	function gotoPast() {
		let calendarApi = calendarComponentRef.getAPI();
		calendarApi.gotoDate('2022-03-10'); // call a method on the Calendar object
	}

	function handleDateClick(event) {
		if (confirm('Would you like to add an seeding to ' + event.dateStr + ' ?')) {
			const { events } = options;
			const calendarEvents = [
				...events,
				{
					title: 'Seeding',
					start: event.date,
					allDay: event.allDay
				}
			];
			options = {
				...options,
				events: calendarEvents
			};
		}
	}
</script>

<svelte:head>
	<title>Calendar</title>
</svelte:head>

<div class="demo-app">
	<div class="demo-app-calendar">
		<FullCalendar bind:this={calendarComponentRef} {options} />
	</div>
</div>

<div class="demo-app-top">
	<button on:click={toggleWeekends}>toggle weekends</button> &nbsp;
	<button on:click={gotoPast}>go to last seeding</button> &nbsp; (also, click a date/time to add an seeding)
</div>

<div>
	<Draggable {eventData} class="draggable">Register the watering</Draggable>
</div>

<style>
	.demo-app {
		width: 100vw;
		/* height: 80vh; */
		padding: 0.5rem;
		padding-right: 25vw;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
		font-size: 14px;
	}

	.demo-app-calendar {
		width: 100%;
		flex-grow: 1;
		margin: 0 auto;
		/* max-width: 900px; */
		align: center;
	}
	:global(.draggable) {
		color: white;
		background: var(--supla-green);
		border-radius: 100px;
		border-style: solid;
		border-color: black;
		width: fit-content;
		padding: 1rem;
		margin: 1rem;
		cursor: pointer;
	}
	@media screen and (max-width: 720px) {
		.demo-app {
			width: 128%;
			margin-left: -1vh;
		}
	}
</style>
