<script>
	// TODO: Add datetime picker: https://apexcharts.com/javascript-chart-demos/area-charts/datetime-x-axis/ -->
	// <!-- TODO: Add language pack with i18n https://lokalise.com/blog/svelte-i18n/#Installing_Svelte_i18n -->

	import Stats from '$lib/main-menu/stats/stats.svelte';
	import Picker from '$lib/main-menu/SensorPicker.svelte';
	import { sensorStoreID } from '$lib/stores.js';
	import Chart from '$lib/main-menu/chart.svelte';
	//Thats Svelte's store method to import the value from other module -- check tutorial
	//https://svelte.dev/tutorial/writable-stores
	let sensorID;
	sensorStoreID.subscribe((value) => {
		sensorID = value;
	});
</script>

<title>Main page</title>
<Picker />
{#if sensorID}
	<Chart />
	<Stats />
{/if}
