<!-- Read the header of the stats from the API -->
<script>
	import { sensorStoreID } from '$lib/stores.js';
	import { statsStore } from '$lib/stores.js';
	import TimePicker from '$lib/main-menu/timePicker.svelte';
	import Tile from '$lib/main-menu/stats/tile.svelte';
	let sensorID;

	sensorStoreID.subscribe((value) => {
		sensorID = value;
	});

	async function getWeatherStats(hours, sensorID) {
		const response = await fetch('/api/sensorID:' + sensorID + '/weatherStats/' + hours);
		return await response.json();
	}
</script>

<!-- TODO: -->

<div class="weather-stats">
	{#each $statsStore as hours}
		{#await getWeatherStats(hours, sensorID.value)}
			<div class="weather-stats-item">
				<p>Loading the data!</p>
			</div>
		{:then weatherStats}
			<Tile {hours} prop={weatherStats} />
		{:catch error}
			popsuło sie
		{/await}
	{/each}

	<TimePicker />

	<br />
</div>

<style>
	.weather-stats {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px;
	}

	.weather-stats-item > h2 {
		border-style: solid;
		border-color: var(--primary-color);
		border-left: 40px solid var(--primary-color);
		padding: 10px;
		margin-right: 10px;
		border-radius: 10px;
		font-weight: 1000;
		text-transform: uppercase;
		font-size: 1.5em;
		background-color: lightgray;
	}
	.weather-stats-item {
		margin: 1px;
		border-radius: 20px 10px;
		font-size: 1em;
		gap: 5px;
		padding: 5px;
		padding-right: 0px;
		box-shadow: 5px 5px 10px 1px gray;
	}

	@media screen and (max-width: 700px) {
		.weather-stats {
			display: flex;
			flex-direction: column;
		}
	}
</style>
