<script>
	import { statsStore, displayedTimeRangesStore, providedTimeRanges } from '$lib/stores.js';
	export let hours;
	export let prop;
	export let tiles = Object.keys(prop);

	function addZero(i) {
		if (i < 10) {
			i = '0' + i;
		}
		return i;
	}
	function hourDisplay(t) {
		//t - time
		t = new Date(t);
		let hr = addZero(t.getHours());
		let min = addZero(t.getMinutes());
		return hr + ':' + min;
	}

	function dayDisplay(t) {
		t = new Date(t);
		let day = addZero(t.getDate());
		let month = addZero(t.getMonth() + 1);
		let hr = addZero(t.getHours());
		let min = addZero(t.getMinutes());
		return day + '/' + month + ' ' + hr + ':' + min;
	}

	function tileDelete(hour) {
		console.log($statsStore.length);
		if ($statsStore.length > 1) {
			$statsStore = arrayRemove($statsStore, hour);
			let auxDisplayArr = [];
			for (var i = 0; i < $displayedTimeRangesStore.length; i++) {
				auxDisplayArr.push($displayedTimeRangesStore[i].value);
				if (!auxDisplayArr.includes(hour)) {
					if ($providedTimeRanges[i].value === hour) {
						$displayedTimeRangesStore.push($providedTimeRanges[i]);
						$displayedTimeRangesStore.sort((a, b) => {
							return a.value - b.value;
						});
					}
				}
			}
		}
	}

	function arrayRemove(arr, value) {
		return arr.filter(function (ele) {
			return ele != value;
		});
	}
</script>

<div class="weather-stats-item">
	{#if hours <= 24}
		<h2>last {hours} hours</h2>
	{:else if hours / 24 > 30}
		{#if Math.round(hours / 24 / 30.5) == 1}
			<h2>last month:</h2>
		{:else}
			<h2>last {Math.round(hours / 24 / 30.5)} months:</h2>
		{/if}
	{:else if hours >= 24}
		<h2>last {hours / 24} days:</h2>
	{/if}
	<div class="tile">
		{#each tiles as tile}
			<h3 class="cellHeader">{tile}</h3>
			<div class="value">
				<h4>Value:</h4>
				<p>
					max: {prop[tile].max.value} <br />
					min: {prop[tile].min.value} <br />
					amplitude: {prop[tile].max.value - prop[tile].min.value}<br />
					mean: {prop[tile].mean} +/- {prop[tile].std} <br />
					median: {prop[tile].median}
				</p>
			</div>

			<div class="atTime">
				<h4>Time:</h4>
				{#if hours <= 24}
					<p>
						{hourDisplay(prop[tile].max.time * 1000)} <br />
						{hourDisplay(prop[tile].min.time * 1000)} <br />
					</p>
				{:else if hours / 24 > 30}
					<p>
						{dayDisplay(prop[tile].max.time * 1000)} <br />
						{dayDisplay(prop[tile].min.time * 1000)} <br />
					</p>
				{:else if hours >= 24}
					<p>
						{dayDisplay(prop[tile].max.time * 1000)} <br />
						{dayDisplay(prop[tile].min.time * 1000)} <br />
					</p>
				{/if}
			</div>
		{/each}
	</div>
	{#if $statsStore[0] != hours}
		<button on:click={() => tileDelete(hours)}>
			<i class="fa fa-trash" />
		</button>
	{/if}
</div>

<style>
	.tile {
		padding: 5px;
		gap: 5px;
		display: grid;
		grid-template-columns: 60% 40%;
		padding: 5px;
		border-radius: 10px;
		gap: 5px;
	}

	.value {
		border-style: solid;
		text-align: center;
		border-radius: 10px 0 0 10px;
		padding: 10px;
		border: 2px solid;
		border-right: 0px;
		margin-left: 2%;
	}

	.atTime {
		border-style: solid;
		border-radius: 10px;
		padding: 10px;
		text-align: center;
		border: 2px solid;
		margin-left: -15px;
		margin-right: 8%;
	}

	.value > h4 {
		border-bottom: 2px solid;
		/* margin-top:-5px; */
		grid-column: 1 / 3;
		text-indent: 10px;
		margin: -5px 0 0 -10px;
	}
	.atTime > h4 {
		border-bottom: 2px solid;
		margin: -5px -10px 0 -10px;
		grid-column: 1 / 3;
	}
	.tile > h3 {
		border-style: solid;
		border-color: var(--primary-color);
		border-left: 40px solid var(--primary-color);
		background-color: lightgray;
		border-radius: 10px;
		padding: 10px;
		margin-right: 2%;
		grid-column: 1 / 3;
	}

	.tile > h3:nth-child(even) {
		border-color: var(--accent-color);
		border-left: 40px solid var(--accent-color);
	}

	.weather-stats-item > h2 {
		border-style: solid;
		border-color: var(--secondary-color);
		border-left: 40px solid var(--secondary-color);
		padding: 10px;
		margin-right: 10px;
		border-radius: 10px;
		font-weight: 1000;
		font-size: 1.5em;
		background-color: lightgray;
	}
	.weather-stats-item {
		margin: 1px;
		/* margin-top:50px; */
		border-radius: 20px 10px;
		font-size: 1em;
		gap: 5px;
		padding: 5px;
		padding-right: 0px;
		box-shadow: 5px 5px 10px 1px gray;
	}
	.weather-stats-item > button {
		margin: 10px;
		margin-left: 49%;
		width: 50%;
		height: 50px;
		background-color: red;
		border-radius: 10px;
		border-color: black;
		transition-duration: 0.4s;
	}

	.weather-stats-item > button:hover {
		scale: 1.01;
		background-color: pink;
	}

	.weather-stats-item > button:nth-child(1) {
		cursor: not-allowed;
		background-color: black;
	}

	@media screen and (max-width: 700px) {
		.weather-stats-item {
			margin: 5px;
			margin-top: 50px;
		}
	}
</style>
