<script type="module">
	import { chart } from 'svelte-apexcharts?client';
	import { sensorStoreID } from '$lib/stores.js';
	import options from '$lib/main-menu/chartOptions.js';
	import Select from 'svelte-select';
	import { statsStore } from '$lib/stores.js';
	const DATA_POINTS_MAX = 80;
	let dataPoints;

	let providedTimeRanges = [
		{ value: toMiliseconds(0, 3), label: 'last 3hrs' },
		{ value: toMiliseconds(0, 6), label: 'last 6hrs' },
		{ value: toMiliseconds(0, 12), label: 'last 12hrs' },
		{ value: toMiliseconds(1), label: 'last 24hrs' },
		{ value: toMiliseconds(2), label: 'last 48hrs' },
		{ value: toMiliseconds(7), label: 'last week' },
		{ value: toMiliseconds(31), label: 'last month' },
		{ value: toMiliseconds(3 * 31), label: 'last 3 months' },
		{ value: toMiliseconds(6 * 31), label: 'last 6 months' }
	];

	sensorStoreID.subscribe((sensor) => {
		getWeatherData(sensor.value);
	});

	function toMiliseconds(days = 0, hours = 0, minutes = 0, seconds = 0) {
		return (days * 24 * 60 * 60 + hours * 60 * 60 + minutes * 60 + seconds) * 1000;
	}

	async function getWeatherData(sensorID) {
		const response = await fetch('/api/sensorID:' + sensorID + '/weatherData');
		let res = await response.json();
		setSeries(res);
		dataPoints = res;
	}

	function averageDataPoins(datapoints) {
		let len = datapoints.length;
		let summed = datapoints.reduce(
			({ x, y }, current) => ({
				x: x + current.x,
				y: y + current.y
			}),
			{ x: 0, y: 0 }
		);
		return { x: summed.x / len, y: summed.y / len };
	}

	/**
	 * Sets the series while limiting data points by taking averages
	 * @param series Series to set
	 */
	function setSeries(series) {
		if (DATA_POINTS_MAX < series[0].data.length) {
			let everyNth = ~~(series[0].data.length / DATA_POINTS_MAX);

			let filterMap = (datapoints) => {
				let everyNthSlices = [];
				datapoints.forEach((_, i) => {
					if (!(i % everyNth)) {
						everyNthSlices.push(datapoints.slice(i, i + everyNth));
					}
				});
				return everyNthSlices.map((val) => averageDataPoins(val));
			};

			let limited = series.map((singleSeries) => ({
				name: singleSeries.name,
				data: filterMap(singleSeries.data)
			}));
			options.series = limited;
		} else {
			options.series = series;
		}
	}

	function handleSelect(event) {
		let dateMax = dataPoints[0].data[0].x;
		let dateMin = dateMax - event.detail.value;

		let dateMinIndex = dataPoints[0].data.findIndex((point) => point.x < dateMin);
		let limited = dataPoints.map((singleSeries) => ({
			name: singleSeries.name,
			data: singleSeries.data.slice(0, dateMinIndex)
		}));

		setSeries(limited);
		// chartStore.set(event.detail.value/(1000*60*60));
		$statsStore[0] = event.detail.value / (1000 * 60 * 60);
	}

	function handleClear() {
		setSeries(dataPoints);
	}
</script>

<div class="datepicker">
	<form>
		<label for="zoom">Time range:</label>
		<Select
			id="zoom"
			items={providedTimeRanges}
			on:change={handleSelect}
			on:clear={handleClear}
			placeholder="Select time range"
		/>
	</form>

	<div class="chart">
		<div use:chart={options} />
	</div>
</div>

<style>
	@media (max-width: 720px) {
		.chart {
			padding: 10px;
			margin: -40px;
			/* margin-top: -20px; */
		}
	}

	.chart {
		/* background-color: var(--pure-white); */
		padding: 20px;
		font-size: 1em;
	}

	.datepicker {
		/* border-style: solid; */
		/* border-width: px; /\* 5px top and bottom, 20px on the sides *\/ */
		box-shadow: 5px 5px 10px 1px gray;
		margin: 5px;
		margin-top: 20px;
		border-radius: 4px;
	}
	form {
		max-width: 400px;
		padding: 20px;
		border-radius: 4px;
		margin-left: 0px;
		margin-right: auto;
		/* box-shadow: 5px 5px 10px 1px gray; */
	}
</style>
