<script type="module">
	import Select from 'svelte-select';
	let sensorID;
	import { sensorStoreID } from '$lib/stores.js';

	sensorStoreID.subscribe((value) => {
		sensorID = value;
	});

	function handleSelect(event) {
		sensorStoreID.set(event.detail);
	}

	async function getSensorList() {
		const endpoint = '/api/sensorList';
		const response = await fetch(endpoint);
		const sensors = await response.json();
		let sensorList = [];
		for (const x in sensors) {
			sensorList.push({
				value: sensors[x].id,
				label: sensors[x].name + ' [ID:' + sensors[x].id + ']'
			});
		}

		return await sensorList;
	}
</script>

<div class="spaces">
	<h1>Spaces:</h1>
	{#await getSensorList()}
		Loading the data!
	{:then items}
		<form>
			<label for="sensor">Select sensor:</label>
			<Select on:input={handleSelect} id="sensor" {items} placeholder="Search for the sensor" />
		</form>
	{:catch error}
		popsuło sie
		{console.log(error)}
	{/await}
</div>

<style>
	.spaces {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		/* text-align:center; */
		/* background: var(--primary-color); */
	}
	form {
		max-width: 400px;
		/* background: var(--primary-color); */
		padding: 20px;
		border-radius: 4px;
		/* border-style: solid; */
		/* border-width: px; /\* 5px top and bottom, 20px on the sides *\/ */
		margin-left: auto;
		margin-right: auto;
		box-shadow: 5px 5px 10px 1px gray;
	}
	form {
		max-width: 400px;
		padding: 20px;
		border-radius: 4px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 5px 5px 10px 1px gray;
	}

	label {
		margin: 0 0 10px;
	}
</style>
