<script>
	// KEEP IN MIND THAT FIRST TILE VALUE COMES FROM CHART TIMEPICKER, PLACED IN chart.svelte
	// thats not DRY, but i am mechanical engineer, and idk bout it
	import Select from 'svelte-select';
	import { statsStore, providedTimeRanges, displayedTimeRangesStore } from '$lib/stores.js';

	// providedTimeRanges.subscribe((value) => {
	// 	displayedTimeRanges = value;
	// });

	$displayedTimeRangesStore = Object.values({ ...$providedTimeRanges });
	// Deep clone of the object: https://www.geeksforgeeks.org/how-to-deep-clone-in-javascript/
	// export object to array :https://www.javatpoint.com/convert-object-to-array-in-javascript

	let displayedTimeRanges = $displayedTimeRangesStore;

	function checkTime(t) {
		//t - time
		if (t <= 24) {
			alert('There are ' + t + ' hours in tiles!');
		} else if (t / 24 > 30) {
			alert('There are ' + t / 24 / 31 + ' months in tiles!');
		} else {
			alert('There are ' + t / 24 + ' days in tiles!');
		}
	}

	function removeFromTimeRanges(desiredVal) {
		for (var i = 0; i < displayedTimeRanges.length; i++) {
			if ($displayedTimeRangesStore[i].value === desiredVal) {
				$displayedTimeRangesStore.splice(i, 1);
			}
		}
	}
	function handleSelect(event) {
		console.log(event.detail);
		if (!$statsStore.includes(event.detail.value)) {
			let ev = event.detail.value;
			$statsStore.push(ev); //i have no idea why it is working, but
			$statsStore[statsStore.lenght] = event.detail.value; // while commenting one of these lines, it stop to work
			removeFromTimeRanges(ev);
		} else {
			checkTime(event.detail.value);
		}
	}

	function handleClear() {
		console.log('clear');
		$statsStore.pop();
	}
</script>

<div class="weather-stats-item">
	<form>
		<svg height="200" width="200">
			<rect width="20" height="100" x="90" y="60" rx="10" ry="10" />
			<rect width="100" height="20" y="100" x="50" rx="10" ry="10" />
		</svg>
		<br />
		<h2>add another stats tile:</h2>
		<label for="zoom">Time range:</label>
		<Select
			on:input={handleSelect}
			on:clear={handleClear}
			id="zoom"
			items={displayedTimeRanges}
			placeholder="Select time range"
		/>
	</form>
</div>

<style>
	svg {
		scale: 1.5;
		fill: var(--primary-color);
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	svg:hover {
		fill: var(--accent-color);
		transition-duration: 0.4s;
		scale: 1.6;
	}
	form > h2 {
		padding: 10px;
		margin-right: 10px;
		border-left: 40px solid var(--primary-color);
		border-style: solid;
		border-color: var(--primary-color);
		border-radius: 10px;
		font-weight: 1000;
		font-size: 1.5em;
		background-color: lightgrey;
	}

	form > h2:hover {
		border-left: 40px solid var(--accent-color);
		border-color: var(--accent-color);
		transition-duration: 0.4s;
	}
	.weather-stats-item {
		/* background-color: var(--primary-color); */
		margin-top: 10px;
		/* border-style: solid; */
		border-radius: 20px 10px;
		font-size: 1em;
		gap: 5px;
		padding: 5px;
		padding-right: 0px;
		box-shadow: 5px 5px 10px 1px gray;
	}

	form {
		align: center;
		max-width: 80%;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 12%;
		margin-bottom: 25%;
		/* border-style: solid; */
		border-width: 0.5px;
		border-radius: 20px;
	}
	form:hover {
		scale: 1.1;
		transition-duration: 0.4s;
	}

	@media screen and (max-width: 700px) {
		form {
			max-width: 95%;
		}
	}
</style>
