<script>
	import { writable } from 'svelte/store';

	let isSuccess = writable(false);
	let isError = writable(false);
	let tokenSha = writable('abc123');
	let tokenList = writable(['']);

	async function requestNewToken(name) {
		let response = await fetch('/api/tokens', {
			method: 'POST',
			body: JSON.stringify({
				name: name
			}),
			headers: { 'Content-type': 'application/json; charset=UTF-8' }
		});
		let body = await response.json();
		return body.token;
	}

	function validName(name) {
		return name.length > 2 && name.length < 20;
	}

	function addNew(event) {
		let name = new FormData(event.target).get('token-name');

		if (!validName(name)) {
			isError.set(true);
			return;
		}

		requestNewToken(name).then((sha) => {
			tokenSha.set(sha);
			isSuccess.set(true);
			isError.set(false);
		});
		loadAllTokens();
	}

	async function fetchAllTokens() {
		let response = await fetch('/api/tokens/');
		let body = await response.json();
		return body;
	}

	function loadAllTokens() {
		fetchAllTokens().then((tokens) => {
			let tokenStrings = [];
			for (let token of tokens) {
				tokenStrings.push(token.name);
			}
			tokenList.set(tokenStrings);
		});
	}

	//loadAllTokens();
</script>

<title>Settings</title>

<section>
	<h3>Logout</h3>
	<a href="/api/logout">Log out</a>
</section>

<hr />

<section>
	<h3>Api tokens</h3>
	<form on:submit|preventDefault={addNew}>
		<input type="text" name="token-name" placeholder="New token name" />
		<input type="submit" value="Add new" />
	</form>

	{#if $isError}
		<i id="error-text" class="error-text">Given name is not valid</i>
	{/if}

	{#if $isSuccess}
		<i id="success-text" class="invisible">Token: {$tokenSha}</i>
	{/if}

	<br />
	{#if $tokenList}
		Your tokens: {$tokenList}
	{/if}
</section>

<style>
	.error-text {
		color: red;
	}
</style>
